body {
    font-family: 'JetBrains Mono', serif;
    font-size: 13px;
    margin: 20px;
    background-color: #f9f4e3;
}


#body-container {
    margin-top: 100px;
    min-height: calc(100vh - 80px); /* push footer down. 80px = header+footer */
    overflow: hidden; /* prevents child elements' margins from pushing this around  */
}
div#content {
    width: 90%;
    margin: auto;
}

/* footer */
footer {
    height: 30px;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    color: rgb(131, 140, 149);
    font-size: 12px;
    font-weight: normal;
    padding: 5px 4em;
    text-align: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* these sometimes appear in html from markdown */
hr {
    display: none;
}

article {
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

/* local links */
sl-card a[href^="/"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid teal;
    margin: 2px;
    text-decoration: none;
    color: teal;
}

/* menu */
nav#menu {
    min-height: 40px;
    width:100%;
    padding: 8px;
    overflow: visible; /* if the floating menu wraps around, extend this nav */
    z-index: 1;     /* always on top */
    position: fixed;  /* attached to the top */
    top: 0;
    font-size: 18px;
    font-weight: normal;
    background-color: #F7F7F7;;
}
nav#menu a {
    color: #666666;
    text-decoration: none;
}
nav#menu a:hover {
    color: black;
}
nav#menu ul {
	float: right;
	margin: 0;
	padding: 8px 8px 0 0;
	list-style-type: none;
}
nav#menu li {
	display: inline;
	margin: 0 1em 0 0;
}