<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta syrinx-environment="{{ index.meta.environment }}" syrinx-timestamp="{{ index.meta.timestamp.isoformat() }}" />
    {% if index.meta.environment != 'production' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <meta name="description" content="{{ index.front['Description'] }}">
    <link rel="canonical" href="{{ index.address }}">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400">
    <link rel="stylesheet" href="/assets/css/index.css">

    <title>Syrinx</title>
</head>
<body>


<div id="body-container">{# pushes down the footer when there is little content #}
<div id="content">
{% block main %}{% endblock %}
</div>
</div><footer>
    <span id="copyright-reference">&copy; 2025 syrinx developers</span>
</footer>

</body>
</html>